#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/*FORM*/

form {
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li+li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90%;
  text-align: left;
  padding: 0.6em;
}

input {
  font: 1em sans-serif;
  width: 90%;
  padding: 0.6em;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus {
  border-color: #000;
}

.button {
  border: 1px solid #999;
}